<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.khronos.player">
    <uses-feature android:glEsVersion="0x00030002" android:required="true" />
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:label="NAS AV1 VR"
        android:usesCleartextTraffic="true">

        <activity
            android:name="com.khronos.player.BrowserActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.khronos.player.MainActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:resizeableActivity="false"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden|keyboard|navigation|uiMode|density">
            <meta-data android:name="android.app.lib_name" android:value="player" />
        </activity>

        <service
            android:name="com.khronos.player.SmbBridgeService"
            android:exported="false" />

        <!-- Required by the PICO OpenXR runtime. -->
        <meta-data android:name="pvr.app.type" android:value="vr" />
    </application>
</manifest>
